*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   
   
   
    
}
.page1
{
    display:block;
    
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.title
{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: cornflowerblue;
  
}
.msg p
{
    
}
.msg
{
  padding: 10px;

    
}
.msg.left
{
   text-align: left;
  
}
msg.right
{
   text-align: right; 
}
.box
{
    min-height: 80%;
    max-height: 80%;
    background: cyan;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    
    
}
.sent
{
  display: flex; 
  justify-content: space-between;
  height: 5%;

}
.sent input
{
   width: 70%; 
  
    
}
.sent button
{
   width: 30%;
   
}